body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
#header{
    padding-left: 80px;
}

.part{
    display: flex;
    
}
.half-part{
    width: 40%;
    padding: 2px 5px;
}
.heading-color{
    color: orange;
}
.half-partt{
    padding-top: 12%;

}
.half-part h1{
    font-size: 45px;
    font-weight: bold;
}
.half-part p{
    font-size: 18px;
}
.hyper-tag{
    padding: 12px 30px;
    background-image: linear-gradient(orange,red);
    text-decoration: none;
    border-radius: 30px;
    margin-top: 10px;
    display: inline-block;
    color: white;
    font-weight: 500;
    box-shadow: 1px 1px 8px orange;
}
#search-box{
    height: 30px;
    width: 300px;
    margin-top: 20px;
    border: 2px solid orangered;
    border-radius: 5px;
    outline: 0;
}
#middle{
    padding-left: 15%;
    padding-top: 3%;
    margin-top: 80px;
    background-image: url(images/cover.png);
    background-repeat: no-repeat;
}
.part-two{
    display: flex;
}
.half-parttwo{
    padding-top: 4%;
    padding-left: 5%;
}
